*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
   background-color: gainsboro;
}
#nav{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    color: white;
    font-size: 3vh;
}
#nav h4{
    color: white;
    font-size: 3vh;
    padding: 0px 80px;
}

#nav1{
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav1 h2{
    font-family: monument;
    font-size: 5vh;
    color: red;
}
#nav1 h4{
    font-weight: 1000;
}
#nav1 i{
    font-size: 2.7vh;
}
#page2{
    height: 100%;
    width: 100%;
    /*background-color: yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#l1{
    height: 100%;
    width: 60%;
   /* background-color: blueviolet;*/
}
#a{
    height: 50%;
    width: 100%;
   /* background-color: chartreuse;*/
}
#a h1{
    font-family: monument;
    font-size: 5.1vh;
    padding: 50px 40px 0px 40px;
}
#a p{
    padding: 0px 20px;
    font-size: 2.5vh;
    font-family: Regular-bold;
}
#a button{
    height: 20%;
    width: 30%;
    border-radius: 20%;
    margin: 50px;
    font-family: monument;
    font-size: 2.5vh;
    border: 5px solid black;
}
#b{
    height: 50%;
    width: 100%;
    /*background-color: tomato;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#b1{
    height: 100%;
    width: 35%;
   /* background-color: yellow;*/
}
#b h3{
    /*font-family: monument;*/
    padding: 10px;
    font-size: 2.5vh;
}

#b h1{
    font-family: monument;
    font-size: 3.2vh;
}
#b button{
    height: 50px;
    width: 40%;
    padding: 10px;
    margin: 10px 20px;
    font-size: 2.5vh;
    font-weight: 600;
    border: 2.5px solid black;
    box-shadow: 10%;
    border-radius: 10px;
}
#b2{
    height: 100%;
    width: 40%;
    /*background-color: aqua;*/
}
#btop{
    height: 80px;
    width: 200px;
    /*background-color: rebeccapurple;*/
    border: 3px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;*/
}
#fot{
    height: 80px;
    width: 100px;
    font-size: 8.5vh; 
    padding: 5px; 
      
}
#watch{
    height: 280px;
    width: 250px;
    /*background-color: red;*/
    background-image: url(img/w7.jpeg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 90px;
    margin-top: 5px;
}
#b3{
    height: 50%;
    width: 25%;
  /*  background-color:blueviolet;*/
}
#l2{
    height: 100%;
    width: 40%;
   /* background-color: violet;*/
    
}
#l2 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    padding: 10px;
    border-radius:5%;
}
#ourpage{
    height: 100%;
    width: 100%;
    background-color:gainsboro;
    font-family: monument;
    text-align: center;
    padding-top: 10%;
    font-size: 3vh;
    
    
}
#ourpage h2{
    color: white;
    font-weight: 500;
    font-size: 2.5vh;
}
#watimg{
    height: 500px;
    width: 100%;
    /*background-color: yellow;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
#w1{
    height: 350px;
    width: 350px;
    /*background-color: red;*/
    margin-left: 35px;
    margin-top: 5%;
    background-image: url(img/w3.jpeg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    
}
#w1 h2{
    color: black;
    margin-top: 110%;
    font-family: monument;
    text-transform: uppercase;
}
#w2{
    height: 350px;
    width: 350px;
 /*   background-color: red;*/
    margin-left: 35px;
    margin-top: 5%;
     background-repeat: no-repeat;
    object-fit: cover;
    background-size: contain;
    background-image: url(img/w6.jpeg);
    background-position: center;
}
#w2 h2{
    color: black;
    margin-top: 110%;
    font-family: monument;
    text-transform: uppercase;
}
#w3{
    height: 350px;
    width: 350px;
   /* background-color: red;*/
    margin-left: 35px;
    margin-top: 5%;
     background-repeat: no-repeat;
    object-fit: cover;
    background-size: 80%;
    background-image: url(img/w5.jpeg);
    border-radius: 10%;
    background-position: center;
}
#w3 h2{
    color: black;
    margin-top: 110%;
    font-family: monument;
    text-transform: uppercase;
}
#w4{
    height: 350px;
    width: 350px;
    /*background-color: red;*/
    margin-left: 35px;
    margin-top: 5%;
     background-repeat: no-repeat;
    object-fit: cover;
    background-size: contain;
    background-image: url(img/w4.jpeg);
    background-position: center;
}
#w4 h2{
    color: black;
    margin-top: 110%;
    font-family: monument;
    text-transform: uppercase;
}

